<h1>Hello there!</h1>

<% if @profile %>
    <h2>Your Profile</h2>
    <pre><%= JSON.pretty_generate(@profile) %></pre>
    <a href="/logout">Log out</a>

    <form method="post" action="/import" enctype="multipart/form-data">
      <input type="file" name="ris_file" accept="application/x-research-info-systems">
      <br>
      <input type="submit" value="import">
    </form>
<% else %>
    <a href="/auth">Please sign-in</a>
<% end %>